/* Website by Parliamo: https://parliamo.me */

*:focus {
    outline: none;
    box-shadow: 0 0 3px #dadada;
}

div.hero, main.page-content {
    width: 100%;
    padding-top: 150px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
}

main.page-content {
    margin-top: -48px;
    animation: appear 3s forwards;
}

img.dmt-logo {
    max-width: 256px;
    max-height: 256px;
    animation: appear-immediately 1.5s forwards;
}

h1.title {
    font-size: 5em;
    animation: appear 2s forwards;
    text-shadow: 0 0 5px #ffffff, var(--default-shadow);
    margin-top: -20px;
    font-weight: 500;
}

div.table {
    display: table;
    border-spacing: 15px;
}

div.cell {
    display: table-cell;
    background: radial-gradient(ellipse at center, #21252c, #111417);
    box-shadow: 0 0 20px #000000;
    padding: 20px 40px;
    border-radius: 20px;
    align-items: center;
}

a.button {
    background-color: #dadada;
    color: #111417;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    margin: 10px;
    box-shadow: 0 0 5px #dadada;
    transition: 0.5s ease;
}

a.button:hover {
    padding: 15px 30px;
}

div.notable {
    margin: 10px;
}

div.screenshots {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

div.screenshot {
    border: 2px solid #000000;
    box-shadow: 0 0 4px #000000;
    display: flex;
    flex-direction: column;

}

div.screenshot img {
    height: min-content;
    width: min-content;
    max-width: 100%;
    max-height: 100%;
}


div.window {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    width: 100%;
    font-size: 10px;
    padding: 5px;
    background-color: #ffffff;
    border-bottom: 1px solid #000000;
    color: #000000;
}

div.window-buttons {
    font-size: 20px;
    justify-self: right;
    text-align: right;

    width: 100%;
}

div.window-buttons i {
    margin: 20px 0;
}