/* Website by Parliamo: https://parliamo.me */

* {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    --default-shadow: 0 0 40px #0c0e10, 0 0 40px #0c0e10;
}

html {
    scroll-behavior: smooth !important;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-x: hidden;
    color: #dadada;
    animation: 3s enable-scroll forwards;
}

div.background {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    background-color: #0c0e10;
    background-image: linear-gradient(to right, #111417 1px, transparent 1px), linear-gradient(to bottom, #111417 1px, transparent 1px);
    background-size: 30px 30px;
    background-position: 50% 50%;
}

body[open] {
    overflow-y: hidden !important;
}

div.hero, main.page-content {
    padding: 0 4vw;
}

h1, h2, h3 {
    font-family: "Fira Sans", sans-serif;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.75), var(--default-shadow);
}

a, a:focus, a:visited {
    color: inherit;
}
::selection {
    background-color: #ffffff;
    color: #111417;
}